@charset "utf-8"
div{
position:relative;
float:left;
display:block;
}
body{
	font-family:Cursive;
}
.center{
position:relative;
left:100px;
}
div.center ul{
margin-top:0px;
}

.menu{
	width:1366px;
	height:45px;
	background-color:black;
	
}

li{
	display:inline
}
a {text-decoration:none;}
div.menu a{float:left;
	display:block;
	width:81px;
	text-align:center;
	height:100%;
	line-height:45px;
	margin-right:20px;
	padding:0px,10px,0px,10px;
	font-size:18px;
	font-weight:700;
	color:white
	}
div.menu a:hover{
	background-color:red;
}
div.content a:link,a:visited
{
	color: black;

}
div.content a:hover
{
	color:red;
}


.clear{
	clear:both
}

.content{
padding-left:5px;
border:1px solid gray;
margin-bottom:10px;
	width:500px;
	height:80px;
	position:relative;
	left:140px;
}

div.user
{
	background-color:red;
}
div.user ul{
	float:right;
	list-style-type:none;
	margin-top:0;
	margin-right:20px;
	padding:0;
}

div.user a{float:left;
	display:block;
	width:70px;
	text-align:center;
	height:100%;
	line-height:45px;
	margin:0px;
	padding:0;
	font-size:18px;
	font-weight:700;

}

.homediv{
	width:60%;
	position:absolute;

	test-align:center;
	
}

.time{
position:relative;
	left:290px;
	float:left;
	width:200px;
	height:45px;

}

div.time p{
  color:white;
  margin-top:12px;
}
div.pages a{
	color:blue;
}
div.pages a:hover{
	color:red;
}